# =========================
# Global fallback owner
# =========================
                           @peaceps


# =========================
# Agent Team
# =========================
/agent/                    @peaceps


# =========================
# UI Team
# =========================
/ui/                       @peaceps