# Environments
**/.env
.vscode/

node_modules/
dist/
.session/
.deepclaw.config.json
.logs/
**/tsconfig.tsbuildinfo
.memory/
.vitest/
.rollup.cache/

.next/
out/
build/

.projects/

package-lock.json
