# Environments
**/.env
.vscode/

node_modules/
dist/
.session/
.deepclaw.config.json
.logs/
**/tsconfig.tsbuildinfo
.memory/
.vitest/
.rollup.cache/

.next/
out/
build/
next-env.d.ts

.projects/
agents/

apps/*/DEEPCLAW.md
packages/*/DEEPCLAW.md
apps/*/skills
packages/*/skills

package-lock.json
